[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-pymongo = "*"
python-dotenv = "*"
dnspython = "*"
flask-cors = "*"
pymongo = "*"
gunicorn = "*"
flask_socketio = "*"
authlib = "*"
requests = "*"
eventlet = "==0.30.2"

[scripts]
start = "flask run"

[dev-packages]

[requires]
python_version = "3.9"
